
.bann .swiper-wrapper img{width: 100%;}



.fastOrder{margin-top: -5px;}
.fastOrder .box{position: relative; height: 200px; width: 130px;}
.fastOrder .box .pwrap{position: absolute; bottom: 53px; left: 30px;}
.fastOrder h2{}
.fastOrder h3{font-weight: 300; cursor: pointer;}
.fastOrder .swiper-container .box p{font-size: 15px; font-weight: 300;}
.fastOrder .swiper-container .box .btnOder {background-color: #81C147; padding: 5px; font-size: 13px;margin-top: 10px; color: #fff;}
.fastOrder .lists{clear: both;}
.fastOrder .lists .btnOder{position: absolute; bottom: 20px; left: 30px; cursor: pointer;}
.fastOrder .lists .set{padding: 20px 0;}
.fastOrder .lists .one{/*display:none;*/ padding: 20px 0;}
.fastOrder .lists .side{/*display:none;*/ padding: 20px 0;}
.fastOrder .gs{padding-top: 15px;}
.fastOrder .sg .pwrap{margin-left: -10px;}
.fastOrder .gf .btnOder{margin-left: 5px;}
.fastOrder .cr .pwrap{margin-left: 8px;}
.fastOrder .crl .pwrap{margin-left: 6px;}


.fastOrder h2{background-color: #81C147; color: #fff;font-weight: 400; font-size: 20px; padding: 12px;}
.fastOrder h3{width: 33.33%; float: left; background-color: #81C147; padding: 6px;color: #fff; font-size: 20px;}
.fastOrder h3.on{background-color: #fff; color: #81C147;}
.fastOrder .set{}
.fastOrder .box{}
.sns{clear: both; background-color: #81C147;overflow: auto; color: #fff;}
.sns h2{font-size: 20px; color: #fff; font-weight: 400;padding: 12px;}
.sns li{float: left; font-size: 12px; padding-top: 29px; padding-bottom: 30px; width: 33.33%;}
.sns li:last-child{padding-right: 0;}
.sns li p{padding-top: 9px;}
